
.roundel {
    border: 2px;
    padding: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    top: 50%;
}

#centre1 {
    background-color: yellow;
    width: 20px;
    height: 20px;
    z-index: 11;
    transform: translate(-50%, -50%);
}

#centre2 {
    background-color: yellow;
    width: 40px;
    height: 40px;
    z-index: 10;
    transform: translate(-50%, -50%);
}

#centre3 {
    background-color: yellow;
    width: 70px;
    height: 70px;
    z-index: 9;
    transform: translate(-50%, -50%);
}

#red1 {
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: 8;
    transform: translate(-50%, -50%);
}

#red2 {
    background-color: red;
    width: 130px;
    height: 130px;
    z-index: 7;
    transform: translate(-50%, -50%);
}

#blue1 {
    background-color: blue;
    width: 160px;
    height: 160px;
    z-index: 6;
    transform: translate(-50%, -50%);
}

#blue2 {
    background-color: blue;
    width: 190px;
    height: 190px;
    z-index: 5;
    transform: translate(-50%, -50%);
}

#black1 {
    background-color: black;
    border-color: white;
    width: 220px;
    height: 220px;
    z-index: 4;
    transform: translate(-50%, -50%);
}

#black2 {
    background-color: black;
    width: 250px;
    height: 250px;
    z-index: 3;
    transform: translate(-50%, -50%);
}

#white1 {
    background-color: white;
    width: 280px;
    height: 280px;
    z-index: 2;
    transform: translate(-50%, -50%);
}

#white2 {
    background-color: white;
    width: 310px;
    height: 310px;
    z-index: 1;
    transform: translate(-50%, -50%);
}

